.sidebar__logo h3{
    text-transform: uppercase;
    color: #CCC;
    text-align: center;
}
body{
    background-color: aqua;
    color:rgb(64, 64, 64);
}.sidebar_wrapper{
    background-color: aliceblue;
    width:300px;
    margin:30px auto;
}
.sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebar__nav{
        flex-grow: 1;
        list-style: none;
        padding: 0;
    }
.sidebar__nav li{
    padding: 15px;
    cursor: pointer;
}
.sidebar__nav li.active, .sidebar__nav li:hover{
    background-color: #d9e6eb;
    color: #328082;
}
.sidebar__nav li i{
    display: inline-block;
    width:25px;
    text-align: center;
    }
.sidebar__profile{
        text-align: center;
        margin-top: 20px;;
}
.sidebar__profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.sidebar__profile h4{
    margin-top: 0;
}